@media (max-width: 767px) {
  .hero {
    padding: 25px;
  }
  .swiper-wrapper {
    border-radius: 25px;
    overflow: hidden;
  }
  .animated-text .highlight {
    font-family: "SerifItalic", serif;
    font-size: 46px;
  }

  main.main::after {
    background-image: url(../gallery/mbg.jpg);
  }

  .footer {
  
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}
.footer-container {
 
    gap: 20px;
}

 .social-links {
        justify-content: center;
    }
 
    .ctitle h3 {
    
    font-size: 30px;
    font-weight: 600;
   
}
.partner-tit span {
    font-size: 48px;
}
.partner-tit h3 {
    font-size: 35px;
    color: #fff;
    font-weight: 600;
}
.partner-tit p {
  
    padding: 0 40px;
    
}
.partner-sec {
    position: relative;
    padding: 90px 0;
}
 
.t-btm h2 {
    
    margin-bottom: 0px;
    line-height: 46px;
   
}
.t-btm p {
  
    padding: 0 40px;
 
}
.contact-form-wrap {
    padding: 27px;
    
}

}
